<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <%= render 'partials/layout/flash_messages' %>
        <%= yield %>
      </div>
      <div class="col-md-4">
        <%= render 'partials/layout/sidebar' %>
      </div>
    </div>
  </div>
</section>
