$primaryBackgroundColor: #EEEEEE;
$secondaryBackgroundColor: #36424A;

$mainColorText: #000000;

$primaryBtnColor: #2DE230;
$primaryBtnTextColor: #00DBFF;

$primaryTextColor: #27BE14;
$secondaryTextColor: #2DE230;

$postColor: #FFFFFF;
